<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.stiggpwnz.vibes"
    android:installLocation="auto"
    android:versionCode="51"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="16" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".VibesApplication"
        android:icon="@drawable/icon"
        android:label="@string/vibes"
        android:theme="@style/Theme.Sherlock.Light.DarkActionBar.ForceOverflow" >
        <activity
            android:name=".LoginActivity"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PlayerActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustPan" >
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PreferencesActivity"
            android:label="@string/prefs" >
        </activity>
        <activity android:name="net.bgreco.DirectoryPicker" />

        <service android:name=".PlayerService" >
        </service>

        <provider
            android:name=".SearchProvider"
            android:authorities="@string/vibes" >
        </provider>
    </application>

</manifest>